<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sign-in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Input with placeholder -->
  <ion-input type="text" placeholder="Please enter your username">Username:</ion-input>

  <!-- Input with placeholder -->
  <ion-input type="password" placeholder="Please enter your password">Password:</ion-input>

  <ion-button href='/list' color="light">Show me the heroes!</ion-button>

</ion-content>
